body {
  padding: 0;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: #f8f8fa;
}
header {
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
ul li {
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 5rem;
  padding-left: 5rem;
  border-radius: 15px;
  border: solid #707070 2px;
  margin: 1rem;
  background-color: #e4e4ea;
}
li a {
  text-decoration: none;
  font-family: "Julius Sans One";
  color: #707070;
  font-weight: bolder;
}
.logo {
  align-self: center;
  font-family: "Julius Sans One";
  text-decoration: none;
  color: black;
}
h3,
p {
  font-family: "Julius Sans One";
}

.category {
  margin-left: 3rem;
  font-family: "Julius Sans One";
}
.productList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.product {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  border: solid #707070 2px;
  width: 20rem;
}
article img {
  height: 25rem;
  border-radius: 15px;
}
.price,
.discount,
.sign {
  font-family: "Julius Sans One";
  font-weight: bolder;
}
.sign,
.discount {
  display: none;
}
.link {
  margin-top: auto;
  font-family: "Julius Sans One";
  font-weight: 900;
  font-size: medium;
  align-self: center;
  background-color: #dcdcdc;
  padding: 1rem;
}
.link a {
  text-decoration: none;
  color: #a9a9a9;
}
.subtle {
  font-family: "Julius Sans One";
  font-weight: 900;
  font-size: medium;
  color: #a9a9a9;
}
.productList article.soldOut img {
  opacity: 0.5;
}

.productList article.soldOut .image::before {
  content: "Sold Out";
  position: absolute;
  z-index: 1;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-radius: 15px;
  background-color: #e4e4ea;
  border: solid #707070 1px;
  font-family: "Julius Sans One";
}
.productList .product.onSale .price {
  text-decoration-line: line-through;
}
.productList .product.onSale .discount {
  display: inline-block;
  font-size: 1.5rem;
  text-shadow: #a9a9a9 2px 2px 4px;
}
.productList .product.onSale .sign {
  display: inline-block;
  margin-left: auto;
  background-color: #b0c4de;
  border: #a2b7d3 solid 3px;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
}
